body {
  font-family: 'Libre Bodoni',
    serif;
  font-size: 20px;
  margin: 0;
  margin-right: ;
}

section {
  display: flex;
  background-image: url(image-bg/top-banner.png);
  background-repeat: no-repeat;

}

.first {
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;

}

.first img {
  width: 90%;
}

span {
  color: #5858fb;
}

.button_1 {
  text-decoration: none;
  background-image: linear-gradient(red, tomato);
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 45px;
  margin-top: -50px;
}

a:hover {
  background-image: linear-gradient(aqua, blue);
  transition: 5s;
}

.xx_p {
  font-size: 18px;
  text-align: justify;
}

h5 {
  font-weight: 600;
  margin-bottom: -10px;
}

.span_p_1 {
  margin-left: 80px;
  color: red;
}

.tentacion_music {
  color: rgba(192, 192, 3, 0.822);
}

#sec_image {
  margin-left: 10px;
  margin-top: 50px;
}

#secnd_milestone {
  text-align: justify;

}

.milestone {
  background-image: url(image-bg/music.png);
  background-position: right;
  background-size: 300px;
  margin: 50px 10px;
}
#li_margin{
  margin-left: -50px;
  margin-top: 40px;
}